/*Schrijf hier jouw CSS*/
body{
    display: flex;
    min-height: 100vh;

}
.col-1{
    flex-basis: 300px;
    flex-shrink: 0;
}

.col-2{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
header{
    flex-basis: 150px;
    flex-shrink: 0;
}

main{
    display: flex;
    flex-basis: 100%;
    min-height: 800px;
    flex-grow: 1;
}

article{
    flex-basis: 100%;
}
aside{
    flex-basis: 300px;
    flex-shrink: 0;
}


footer{
    flex-basis: 150px;
    flex-shrink: 0;
}